html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    /*background-color: #f5f5f5;*/
    /*border-top: 1px solid #ddd;*/
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.navbar-custom .nav li.active > a {
    color: #ffffff;
}

@media (min-width: 300px) {
    .navbar-nav .caret {
        display: none;
    }
}

.loader-ellips {
    font-size: 20px;
    position: relative;
    width: 4em;
    height: 1em;
    margin: 10px auto;
}

.loader-ellips__dot {
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    background: #555;
    position: absolute;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.loader-ellips__dot:nth-child(1),
.loader-ellips__dot:nth-child(2) {
    left: 0;
}

.loader-ellips__dot:nth-child(3) {
    left: 1.5em;
}

.loader-ellips__dot:nth-child(4) {
    left: 3em;
}

@keyframes reveal {
    from {
        transform: scale(0.001);
    }
    to {
        transform: scale(1);
    }
}

@keyframes slide {
    to {
        transform: translateX(1.5em)
    }
}

.loader-ellips__dot:nth-child(1) {
    animation-name: reveal;
}

.loader-ellips__dot:nth-child(2),
.loader-ellips__dot:nth-child(3) {
    animation-name: slide;
}

.loader-ellips__dot:nth-child(4) {
    animation-name: reveal;
    animation-direction: reverse;
}

ul.pagination {
    display: none;
}

/* reveal grid after images loaded */
.grid.are-images-unloaded {
    opacity: 0;
}

.grid__item,
.grid__col-sizer {
    width: 24%;
}

.grid__gutter-sizer {
    width: 1%;
}

@media (max-width: 1000px) and (min-width: 420px) {
    .grid__item,
    .grid__col-sizer {
        width: 32%;
    }

    .grid__gutter-sizer {
        width: 2%;
    }
}

@media (max-width: 429px) {
    .grid__item,
    .grid__col-sizer {
        width: 48%;
    }

    .grid__gutter-sizer {
        width: 2%;
    }
}

.grid.are-images-unloaded .image-grid__item {
    opacity: 0;
}

.grid__item {
    margin-bottom: 5px;
    float: left;
}

.grid__item img {
    display: block;
    max-width: 100%;
}

.page-load-status {
    display: none;
    padding-top: 10px;
    border-top: 1px solid #DDD;
    text-align: center;
    color: #777;
}

@media (min-width: 768px) {
    .modal-xl {
        width: 90%;
        max-width: 1200px;
    }
}

.img-center {
    display: block;
    margin: 0 auto;
}

.button-clear {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    padding: 0;
}

.media-img {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background-size: cover !important;
}

.button-nav {
    position: relative;
    color: rgba(255, 255, 255, 0.7);
    /*padding-top: 15px;*/
    /*padding-bottom: 15px;*/
    line-height: 20px;
    display: block;
    padding: 15px 10px 15px 15px;
    transition: color 0.125s ease-in-out 0s;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 11px;
}

.button-nav:hover {
    color: #fff;
}

.flag {
    height: 20px;
    border: 1px solid #ddd;
}

@media (max-width: 768px) {
    .footer {
        height: 85px;
    }
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover {
    background: rgba(255, 255, 255, 0.1) !important;
}

.w1-collapse-margin {
    margin-right: 8px !important;
}

.navbar-brand-margin {
    margin-left: -23px !important;
}

.ad-margin-bottom {
    margin-bottom: 10px;
}

@media (max-width: 429px) {
    .w1-collapse-margin {
        margin-right: auto !important;
    }

    .navbar-brand-margin {
        margin-left: auto !important;
    }

    .ad-margin-bottom {
        margin-bottom: 5px;
    }

    div.long div.cont {
        width: 50% !important;
    }

    div.long-top div.cont:nth-child(3), div.long-top div.cont:nth-child(4) {
        display: none !important;
    }
}

.dark-modal {
    opacity: 0.89 !important;
}

.error-summary > ul {
    margin-bottom: 0;
    text-align: center;
    list-style-position: inside;
    padding: 0;
}

.report-link {
    color: #a94442;
}

.report-link:hover {
    color: #c77270;
}

.col-centered {
    float: none;
    margin: 0 auto;
}